.game{
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  border: 3px solid #d5d5d5;
  border-radius: 15px;
  padding: 20px;
}

.main_container{
  width: 70%;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-style-h, .card-style-b {
  padding: 11px !important;
  font-weight: bold;
  text-align: center;
}

.card-style-h {
  color: #292E49 !important;
}

.card-style-b {
  color: #536976;
}

.detail_container {
  width: 70%;
  margin-top: 20px;
  font-weight: bold;
}

.detail-cat-name:nth-child(odd){
  background-color: rgb(228, 228, 228);
  color: #536976;
}

.review-detail{
  display: flex;
  flex-wrap: wrap;
}

.detail-review{
  margin: 10px;
  min-width: 170px;
  max-width: 170px;
  padding: 10px;
}

.control-panel{
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}

.radio-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.rating-container {
  margin-top: 20px;
}

.radio-btn {
  color: rgb(228, 228, 228) !important;
  margin: 0px !important;
}

.review_container {
  margin-top: 20px;
}

.rev-card {
  margin: 4px;
}

.rev-body {
  max-width: 200px;
  padding: 5px
}

.rev-footer {
  padding: 5px;
}

img {
  width: 175px !important;
  margin: 5px;
  border: 2px solid #536976 !important;
}

.image_container {
  margin-top: 20px;
}
